In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import tree

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('C:/Users/9/Downloads/songs.csv')

In [3]:
df.head(10)

,song,year,artist,genre,lyrics,length,commas,exclamations,colons,hyphens
0,the-ownerz,2007,gangstarr,Hip-Hop,"""One-two..""\n""One-two, shots to the chin.. kno...",1300,24,5,0,11
1,dead-sound-of-misery,2006,blind-guardian,Metal,It's dark\nLet's do it now\nBring in the siren...,1566,0,0,0,0
2,modred-s-song,2006,blind-guardian,Metal,I've lost my battle before it starts\nmy first...,996,1,0,1,0
3,the-ninth-wave,2015,blind-guardian,Metal,As dark night embraces\nWe are the nation\nI w...,2868,5,0,0,0
4,skills,2014,gangstarr,Hip-Hop,"Skills, skills, skills\n""My Microphone""\n""It's...",3351,22,0,0,3
5,werdz-from-the-ghetto-child,2007,gangstarr,Hip-Hop,"[Smiley] Aiyyo I got the dimes that I get, I g...",1413,26,0,0,2
6,givin-a-little-bit-more,2006,abba,Pop,There's a gentleness to everything you do\nAnd...,714,0,0,0,0
7,nina-pretty-ballerina,2006,abba,Pop,Every day in the morning on her way to the off...,1263,5,0,0,1
8,don-t-break-the-circle,2007,blind-guardian,Metal,Don't break the circle\nDon't break the circle...,1392,3,0,0,0
9,the-name-of-the-game,2001,abba,Pop,"I've seen you twice, in a short time\nOnly a w...",1986,14,0,0,3

In [4]:
df.describe()

,year,length,commas,exclamations,colons,hyphens
count,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000
mean,2005.388889,1740.452778,16.002778,0.502778,0.269444,3.288889
std,6.891834,950.442338,17.271146,2.431225,1.128096,8.760502
min,1977.000000,29.000000,0.000000,0.000000,0.000000,0.000000
25%,2006.000000,1027.000000,3.000000,0.000000,0.000000,0.000000
50%,2006.000000,1514.500000,10.000000,0.000000,0.000000,0.000000
75%,2008.000000,2266.750000,23.000000,0.000000,0.000000,3.000000
max,2016.000000,5280.000000,100.000000,35.000000,13.000000,63.000000

In [5]:
df.artist.unique()

array(['gangstarr', 'blind-guardian', 'abba'], dtype=object)

In [6]:
df_train=df.iloc[:270, :]

In [7]:
df_train

,song,year,artist,genre,lyrics,length,commas,exclamations,colons,hyphens
0,the-ownerz,2007,gangstarr,Hip-Hop,"""One-two..""\n""One-two, shots to the chin.. kno...",1300,24,5,0,11
1,dead-sound-of-misery,2006,blind-guardian,Metal,It's dark\nLet's do it now\nBring in the siren...,1566,0,0,0,0
2,modred-s-song,2006,blind-guardian,Metal,I've lost my battle before it starts\nmy first...,996,1,0,1,0
3,the-ninth-wave,2015,blind-guardian,Metal,As dark night embraces\nWe are the nation\nI w...,2868,5,0,0,0
4,skills,2014,gangstarr,Hip-Hop,"Skills, skills, skills\n""My Microphone""\n""It's...",3351,22,0,0,3
...,...,...,...,...,...,...,...,...,...,...
265,into-the-storm,2006,blind-guardian,Metal,Give it to me\nI must have it\nPrecious treasu...,896,0,0,0,0
266,blowin-up-the-spot,2006,gangstarr,Hip-Hop,"[guru]\nAh so now ya got me pissed off, blast ...",1886,34,0,0,5
267,discipline,2007,gangstarr,Hip-Hop,Mmm\nYou gotta hold your head up..\nOahh-eahh-...,4431,48,0,0,29
268,peace-of-mine,2007,gangstarr,Hip-Hop,"Aiyyo, what the fuck is this shit that y'all a...",2753,39,4,0,3
269,turn-the-page,2006,blind-guardian,Metal,"How to? We're here to praise your name,\nBlazi...",1625,12,2,1,0

In [8]:
df_test=df.iloc[270:, :]

In [9]:
df_test

,song,year,artist,genre,lyrics,length,commas,exclamations,colons,hyphens
270,discipline,2008,gangstarr,Hip-Hop,Mmm\nYou gotta hold your head up..\nOahh-eahh-...,4431,48,0,0,29
271,gracias-por-la-musica,2006,abba,Pop,Agnetha: Soy muy sencilla\nwhy algo aburrida t...,1325,19,3,7,0
272,cause-effect,2006,gangstarr,Hip-Hop,"[guru]\nYou ain't livin right punk, I'll have ...",3085,47,2,0,4
273,out-on-the-water,2006,blind-guardian,Metal,Out on the water\nThe island of the dead that ...,134,0,0,0,0
274,miracle-machine,2015,blind-guardian,Metal,When they are coming\nGive us guidance\nFor th...,1233,9,0,0,0
...,...,...,...,...,...,...,...,...,...,...
355,just-like-that,2006,abba,Pop,Until that day\nMy life had been a river\nFoll...,972,2,0,0,1
356,ring-ring,1995,abba,Pop,I was sitting by the phone\nI was waiting all ...,1283,33,0,0,3
357,reina-danzante,1981,abba,Pop,You can dance\nYou can jive\nHaving the time o...,810,1,0,0,0
358,code-of-the-streets,2006,gangstarr,Hip-Hop,Take this for example young brothers want rep\...,1996,34,0,0,5
359,one-of-us,2001,abba,Pop,"They passed me by, all of those great romances...",991,8,0,0,0

In [10]:
df_val=df_train.iloc[202:, :]

In [11]:
df_val

,song,year,artist,genre,lyrics,length,commas,exclamations,colons,hyphens
202,love-isn-t-easy,2001,abba,Pop,Do you remember the first time\nAnd all of you...,1549,24,0,0,0
203,words-from-the-nutcracker,2006,gangstarr,Hip-Hop,"Sick thoughts on my mind, with no self-control...",840,20,0,0,1
204,barbara-ann,2006,blind-guardian,Metal,Ba ba ba ba Barbara Ann\nBa ba ba ba Barbara A...,1195,5,0,0,6
205,conociendome-conociendote,2007,abba,Pop,Ya no hay mÃ¡s sonrisa\nTodo finaliza\nNuestra...,647,15,0,0,0
206,the-wizard,2006,blind-guardian,Metal,He was the wizard of a thousand kings\nAnd I c...,714,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
265,into-the-storm,2006,blind-guardian,Metal,Give it to me\nI must have it\nPrecious treasu...,896,0,0,0,0
266,blowin-up-the-spot,2006,gangstarr,Hip-Hop,"[guru]\nAh so now ya got me pissed off, blast ...",1886,34,0,0,5
267,discipline,2007,gangstarr,Hip-Hop,Mmm\nYou gotta hold your head up..\nOahh-eahh-...,4431,48,0,0,29
268,peace-of-mine,2007,gangstarr,Hip-Hop,"Aiyyo, what the fuck is this shit that y'all a...",2753,39,4,0,3
269,turn-the-page,2006,blind-guardian,Metal,"How to? We're here to praise your name,\nBlazi...",1625,12,2,1,0

In [12]:
df_train=df_train.iloc[:202, :]

In [13]:
df_train

,song,year,artist,genre,lyrics,length,commas,exclamations,colons,hyphens
0,the-ownerz,2007,gangstarr,Hip-Hop,"""One-two..""\n""One-two, shots to the chin.. kno...",1300,24,5,0,11
1,dead-sound-of-misery,2006,blind-guardian,Metal,It's dark\nLet's do it now\nBring in the siren...,1566,0,0,0,0
2,modred-s-song,2006,blind-guardian,Metal,I've lost my battle before it starts\nmy first...,996,1,0,1,0
3,the-ninth-wave,2015,blind-guardian,Metal,As dark night embraces\nWe are the nation\nI w...,2868,5,0,0,0
4,skills,2014,gangstarr,Hip-Hop,"Skills, skills, skills\n""My Microphone""\n""It's...",3351,22,0,0,3
...,...,...,...,...,...,...,...,...,...,...
197,carry-the-blessed-home,2006,blind-guardian,Metal,"Pale faced, the innocent will drown in blood\n...",1374,7,1,0,0
198,you-re-the-voice,2010,blind-guardian,Metal,We have the chance to turn the pages over\nWe ...,1542,18,0,0,60
199,so-wassup,2008,gangstarr,Hip-Hop,So wassup? You know we can't be havin that\nSo...,2236,34,1,0,13
200,jfk-2-lax,2008,gangstarr,Hip-Hop,Yo\nYo premier?\nYeah whassup g?\nThat trip to...,3195,39,1,1,2
201,angel-eyes,2001,abba,Pop,Keep thinking 'bout his angeleyes\nI keep thin...,1520,8,0,0,6

In [14]:
X_train = df_train.drop(['song', 'year', 'artist', 'genre', 'lyrics'], axis=1)

In [15]:
X_train

     length  commas  exclamations  colons  hyphens
0      1300      24             5       0       11
1      1566       0             0       0        0
2       996       1             0       1        0
3      2868       5             0       0        0
4      3351      22             0       0        3
..      ...     ...           ...     ...      ...
197    1374       7             1       0        0
198    1542      18             0       0       60
199    2236      34             1       0       13
200    3195      39             1       1        2
201    1520       8             0       0        6

[202 rows x 5 columns]

In [16]:
y_train=df_train.artist

In [17]:
y_train

0           gangstarr
1      blind-guardian
2      blind-guardian
3      blind-guardian
4           gangstarr
            ...
197    blind-guardian
198    blind-guardian
199         gangstarr
200         gangstarr
201              abba
Name: artist, Length: 202, dtype: object

In [18]:
X_val = df_val.drop(['song', 'year', 'artist', 'genre', 'lyrics'], axis=1)
y_val=df_val.artist	

X_test = df_test.drop(['song', 'year', 'artist', 'genre', 'lyrics'], axis=1)
y_test=df_test.artist

In [19]:
X_val

     length  commas  exclamations  colons  hyphens
202    1549      24             0       0        0
203     840      20             0       0        1
204    1195       5             0       0        6
205     647      15             0       0        0
206     714       0             0       0        0
..      ...     ...           ...     ...      ...
265     896       0             0       0        0
266    1886      34             0       0        5
267    4431      48             0       0       29
268    2753      39             4       0        3
269    1625      12             2       1        0

[68 rows x 5 columns]

In [20]:
y_val

202              abba
203         gangstarr
204    blind-guardian
205              abba
206    blind-guardian
            ...
265    blind-guardian
266         gangstarr
267         gangstarr
268         gangstarr
269    blind-guardian
Name: artist, Length: 68, dtype: object

In [21]:
X_test

     length  commas  exclamations  colons  hyphens
270    4431      48             0       0       29
271    1325      19             3       7        0
272    3085      47             2       0        4
273     134       0             0       0        0
274    1233       9             0       0        0
..      ...     ...           ...     ...      ...
355     972       2             0       0        1
356    1283      33             0       0        3
357     810       1             0       0        0
358    1996      34             0       0        5
359     991       8             0       0        0

[90 rows x 5 columns]

In [22]:
y_test

270         gangstarr
271              abba
272         gangstarr
273    blind-guardian
274    blind-guardian
            ...
355              abba
356              abba
357              abba
358         gangstarr
359              abba
Name: artist, Length: 90, dtype: object

In [23]:
clf = tree.DecisionTreeClassifier(criterion='entropy', max_depth = 16)

In [24]:
clf.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'presort': 'deprecated',
 'random_state': None,
 'splitter': 'best'}

In [25]:
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [26]:
clf.score(X_train, y_train)

1.0

In [27]:
clf.score(X_val, y_val)

0.6323529411764706

In [28]:
y_test_model = clf.predict(X_test)

In [29]:
y_test_model

array(['gangstarr', 'abba', 'gangstarr', 'blind-guardian', 'abba',
       'blind-guardian', 'blind-guardian', 'abba', 'blind-guardian',
       'gangstarr', 'gangstarr', 'gangstarr', 'blind-guardian',
       'gangstarr', 'blind-guardian', 'abba', 'abba', 'blind-guardian',
       'gangstarr', 'blind-guardian', 'abba', 'gangstarr', 'abba',
       'gangstarr', 'abba', 'gangstarr', 'blind-guardian',
       'blind-guardian', 'blind-guardian', 'gangstarr', 'blind-guardian',
       'gangstarr', 'blind-guardian', 'blind-guardian', 'abba',
       'blind-guardian', 'blind-guardian', 'gangstarr', 'gangstarr',
       'gangstarr', 'gangstarr', 'gangstarr', 'abba', 'abba',
       'blind-guardian', 'gangstarr', 'gangstarr', 'abba', 'abba',
       'blind-guardian', 'gangstarr', 'blind-guardian', 'blind-guardian',
       'blind-guardian', 'gangstarr', 'abba', 'abba', 'gangstarr',
       'gangstarr', 'gangstarr', 'blind-guardian', 'gangstarr',
       'gangstarr', 'gangstarr', 'gangstarr', 'blind-guardian',
       'gangstarr', 'blind-guardian', 'gangstarr', 'gangstarr',
       'gangstarr', 'gangstarr', 'abba', 'blind-guardian',
       'blind-guardian', 'abba', 'abba', 'abba', 'gangstarr', 'abba',
       'blind-guardian', 'gangstarr', 'gangstarr', 'gangstarr',
       'gangstarr', 'abba', 'abba', 'blind-guardian', 'gangstarr', 'abba'],
      dtype=object)

In [30]:
from sklearn.metrics import precision_score

In [32]:
precision_score(y_test, y_test_model, average='micro')

0.7444444444444445