In [1]:
import numpy as np
import pandas as pd

In [2]:
data = np.loadtxt('C:/Users/9/Downloads/boston_houses.csv', delimiter=',', skiprows=1)

In [3]:
data

array([[2.4000e+01, 6.3200e-03, 1.8000e+01, ..., 5.3800e-01, 6.5750e+00,
        4.0900e+00],
       [2.1600e+01, 2.7310e-02, 0.0000e+00, ..., 4.6900e-01, 6.4210e+00,
        4.9671e+00],
       [3.4700e+01, 2.7290e-02, 0.0000e+00, ..., 4.6900e-01, 7.1850e+00,
        4.9671e+00],
       ...,
       [2.3900e+01, 6.0760e-02, 0.0000e+00, ..., 5.7300e-01, 6.9760e+00,
        2.1675e+00],
       [2.2000e+01, 1.0959e-01, 0.0000e+00, ..., 5.7300e-01, 6.7940e+00,
        2.3889e+00],
       [1.1900e+01, 4.7410e-02, 0.0000e+00, ..., 5.7300e-01, 6.0300e+00,
        2.5050e+00]])

In [4]:
df = pd.read_csv('C:/Users/9/Downloads/boston_houses.csv')

In [5]:
df.head(10)

   medv     crim    zn  chas    nox     rm     dis
0  24.0  0.00632  18.0     0  0.538  6.575  4.0900
1  21.6  0.02731   0.0     0  0.469  6.421  4.9671
2  34.7  0.02729   0.0     0  0.469  7.185  4.9671
3  33.4  0.03237   0.0     0  0.458  6.998  6.0622
4  36.2  0.06905   0.0     0  0.458  7.147  6.0622
5  28.7  0.02985   0.0     0  0.458  6.430  6.0622
6  22.9  0.08829  12.5     0  0.524  6.012  5.5605
7  27.1  0.14455  12.5     0  0.524  6.172  5.9505
8  16.5  0.21124  12.5     0  0.524  5.631  6.0821
9  18.9  0.17004  12.5     0  0.524  6.004  6.5921

In [6]:
X = np.delete(data, 0, axis=1)
y = data[:,0]

In [7]:
n,m = X.shape
X0 = np.ones((n,1))
X = np.hstack((X0,X))

In [8]:
XT = X.transpose()
step_1 = np.dot(XT,X)
step_2 = np.linalg.inv(step_1)
step_3 = step_2.dot(X.transpose())
b = step_3.dot(y)

In [9]:
for i in b:
    print(i, end=' \n')

-3.655804285065569
-0.21639550236913563
0.07373059817548194
4.412450576912785
-25.468448784099138
7.143201550746638
-1.3010876776489935