In [1]:
#Importing libraries for workflow
#Importer des bibliotheques pour le flux de travail
#Импорт библиотек для работы

import pandas as pd

In [2]:
#Loading data frame into sp
#Chargement de la dataframe dans sp
#Загрузка данных в переменную sp

sp=pd.read_csv('C:/Users/9/Downloads/StudentsPerformance.csv')

In [3]:
#Descripting numeric data
#Description des donnees numeriques
#Описание числовых данных

sp.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [4]:
#Show the first 10 lines
#Afficher les 10 premieres lignes
#Показать 10 первых строк

sp.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [5]:
#View of a series where the lunch is free/reduced
#Vue d'une serie ou le dejeuner est gratuit/reduit
#Представление серии в которой обед - бесплатный/льготный

sp.lunch =='free/reduced'

0      False
1      False
2      False
3       True
4      False
       ...
995    False
996     True
997     True
998    False
999     True
Name: lunch, Length: 1000, dtype: bool

In [6]:
#Selecting attributes where the lunch is free/reduced
#Selection des attibuts ou le dejeuner est gratuit/reduit
#Выбор атрибутов, где обед - бесплатный/льготный

sp.loc[sp.lunch =='free/reduced']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
17,female,group B,some high school,free/reduced,none,18,32,28
...,...,...,...,...,...,...,...,...
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
999,female,group D,some college,free/reduced,none,77,86,86

In [7]:
#Calculating
#Calculation
#Рассчет

355/1000

0.355

In [8]:
#Creating a new dataframe where the lunch is free/reduced
#Creation une nouveau dataframe ou le dejeuner est gratuit/reduit
#Создание нового датафрейма, где обед - бесплатный/льготный

fr=sp.loc[sp.lunch =='free/reduced']

In [9]:
#Creating a new dataframe where the lunch is standart
#Creation une nouveau dataframe ou le dejeuner est standard
#Создание нового датафрейма, где обед - стандартный

std=sp.loc[sp.lunch =='standard']

In [10]:
#Show the first 5 lines
#Afficher les 5 premieres lignes
#Показать 5 первых строк

std.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78

In [11]:
#Creating variable mean math score
#Creation d'un score mathematique moyen variable
#Создание переменной средней оценки по математике

mean_ms_fr = fr['math score'].mean()

In [12]:
#The result
#Le resultat
#Результат
mean_ms_fr

58.92112676056338

In [13]:
#Creating variable mean math score
#Creation d'un score mathematique moyen variable
#Создание переменной средней оценки по математике

mean_ms_std = std['math score'].mean()

In [14]:
#The result
#Le resultat
#Результат

mean_ms_std

70.03410852713178

In [15]:
#Creating variable mean reading score
#Creation d'un score de lecture moyen variable
#Создание переменной средней оценки по чтению

mean_rs_fr = fr['reading score'].mean()

In [16]:
#The result
#Le resultat
#Результат

mean_rs_fr

64.65352112676057

In [17]:
#Creating variable mean reading score
#Creation d'un score de lecture moyen variable
#Создание переменной средней оценки по чтению

mean_rs_std = std['reading score'].mean()

In [18]:
#The result
#Le resultat
#Результат

mean_rs_std

71.65426356589147

In [19]:
#Creating variable mean writing score
#Creation d'un score d'ecriture moyen variable
#Создание переменной средней оценки по письму

mean_ws_fr = fr['writing score'].mean()

In [20]:
#The result
#Le resultat
#Результат

mean_ws_fr

63.02253521126761

In [21]:
#Creating variable mean writing score
#Creation d'un score d'ecriture moyen variable
#Создание переменной средней оценки по письму

mean_ws_std = std['writing score'].mean()

In [22]:
#The result
#Le resultat
#Результат

mean_ws_std

70.8232558139535

In [23]:
#Calculating variance
#Calculation de la variance
#Рассчет дисперсии

var_ms_fr = fr['math score'].var()

In [24]:
#The result
#Le resultat
#Результат

var_ms_fr

229.8242699132649

In [25]:
#Calculating variance
#Calculation de la variance
#Рассчет дисперсии

var_ms_std = std['math score'].var()

In [26]:
#The result
#Le resultat
#Результат

var_ms_std

186.41808946025324

In [27]:
#Calculating variance
#Calculation de la variance
#Рассчет дисперсии

var_rs_fr = fr['reading score'].var()

In [28]:
#The result
#Le resultat
#Результат

var_rs_fr

221.8711386965864

In [29]:
#Calculating variance
#Calculation de la variance
#Рассчет дисперсии

var_rs_std = std['reading score'].var()

In [30]:
#The result
#Le resultat
#Результат

var_rs_std

191.28556020992812

In [31]:
#Calculating variance
#Calculation de la variance
#Рассчет дисперсии

var_ws_fr = fr['writing score'].var()

In [32]:
#The result
#Le resultat
#Результат

var_ws_fr

238.20288056019737

In [33]:
#Calculating variance
#Calculation de la variance
#Рассчет дисперсии

var_ws_std = std['writing score'].var()

In [34]:
#The result
#Le resultat
#Результат

var_ws_std

205.62088689874332

In [35]:
#Loading data frame into df
#Chargement de la dataframe dans df
#Загрузка данных в переменную df

df=pd.read_csv('C:/Users/9/Downloads/column_hell.csv')

In [36]:
#Show the first 10 lines
#Afficher les 10 premieres lignes
#Показать 10 первых строк

df.head()

,yrh&6,ohku,q,hfxx,umeca-4,apj,g,ijvnixxo,kudbpyw-3,upubjv,...,fi,clsruyy,g&6,qo$6,ap,o,sladymzr,tif,wuikzxt,wzuvc
0,0.288397,0.911359,0.488069,0.074599,0.016124,0.090555,0.560810,0.110975,0.430787,0.548763,...,0.793122,0.070335,0.145115,0.686579,0.071681,0.563068,0.815201,0.081902,0.333237,0.185148
1,0.861276,0.134987,0.701885,0.897921,0.507115,0.740151,0.963179,0.712024,0.671662,0.497596,...,0.477181,0.767931,0.996055,0.948774,0.054327,0.087341,0.072166,0.856081,0.120481,0.622113
2,0.775577,0.832874,0.862665,0.831049,0.003274,0.703112,0.509795,0.573296,0.286411,0.282792,...,0.421542,0.770413,0.749468,0.395022,0.307752,0.535575,0.341393,0.971201,0.714558,0.702453
3,0.857910,0.555818,0.598305,0.473988,0.784139,0.427963,0.725103,0.286610,0.863717,0.545562,...,0.240252,0.010355,0.759912,0.965837,0.110719,0.439488,0.816526,0.111621,0.373365,0.461615
4,0.748652,0.451725,0.252619,0.584361,0.011265,0.051115,0.755444,0.627191,0.206172,0.955043,...,0.846165,0.043458,0.209347,0.028276,0.700446,0.203503,0.181903,0.428842,0.099398,0.175227

In [37]:
#Using the filter function
#Utilisation de la fonction de filter
#Использование функции фильтр

df.filter(like='-')

     umeca-4  kudbpyw-3       g-3       v-9     fla-6  hwtbyrkp-5
0   0.016124   0.430787  0.202407  0.725508  0.305076    0.979296
1   0.507115   0.671662  0.864249  0.867818  0.358859    0.160520
2   0.003274   0.286411  0.928865  0.719159  0.340235    0.734612
3   0.784139   0.863717  0.175446  0.554744  0.049325    0.621132
4   0.011265   0.206172  0.044151  0.163643  0.048806    0.437836
..       ...        ...       ...       ...       ...         ...
95  0.220817   0.434444  0.601738  0.146333  0.918888    0.216499
96  0.474131   0.176011  0.359793  0.104707  0.257690    0.066934
97  0.091637   0.871606  0.121075  0.907699  0.313184    0.788592
98  0.360106   0.172385  0.015285  0.019571  0.060751    0.403166
99  0.669284   0.701505  0.481430  0.024944  0.644989    0.702003

[100 rows x 6 columns]