In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv('C:/Users/9/Downloads/invasion.csv')

In [3]:
df.head(10)

,class,g_reflection,i_reflection,speed,brightness,time_of_observance,volume
0,transport,2.190672,6.716633,62.168208,0.347465,158221,44.932446
1,transport,3.453276,8.995909,62.994707,0.590094,385972,41.568300
2,transport,2.432994,6.938691,62.245807,0.329288,446482,40.123467
3,fighter,6.083763,3.019459,18.474555,0.174738,210125,11.384865
4,fighter,12.876769,2.452950,195.805771,0.150446,23109,11.328806
5,cruiser,11.839620,11.175053,14.148615,0.727049,366230,344.868989
6,transport,3.583082,9.118069,62.573389,0.529416,268752,48.811194
7,fighter,16.185380,3.686698,561.239067,0.177024,130305,11.063792
8,transport,3.428605,7.933889,63.785882,0.445259,358659,46.378304
9,transport,3.632056,8.945299,62.771709,0.361815,493153,43.070987

In [9]:
df = df.rename(columns={'class': 'class_ship'})

In [10]:
df.describe()

,g_reflection,i_reflection,speed,brightness,time_of_observance,volume
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,7.514471,6.782598,225.959106,0.335078,293557.236000,81.336123
std,3.865046,2.274478,202.852757,0.189641,162370.270371,136.624929
min,0.860820,2.004911,10.865759,0.100030,137.000000,9.152254
25%,3.925305,5.036264,62.669515,0.153777,159892.000000,11.947038
50%,7.367569,7.069033,110.044266,0.333999,311942.500000,40.169555
75%,10.574544,8.675668,372.838559,0.489826,432034.750000,46.849032
max,17.089350,11.481238,695.871423,0.791757,567040.000000,496.882090

In [11]:
df.shape

(500, 7)

In [12]:
df.isnull().sum()

class_ship            0
g_reflection          0
i_reflection          0
speed                 0
brightness            0
time_of_observance    0
volume                0
dtype: int64

In [13]:
X_train = df.drop(['class_ship'], axis=1)

In [15]:
y_train = df.class_ship

In [16]:
X_train

,g_reflection,i_reflection,speed,brightness,time_of_observance,volume
0,2.190672,6.716633,62.168208,0.347465,158221,44.932446
1,3.453276,8.995909,62.994707,0.590094,385972,41.568300
2,2.432994,6.938691,62.245807,0.329288,446482,40.123467
3,6.083763,3.019459,18.474555,0.174738,210125,11.384865
4,12.876769,2.452950,195.805771,0.150446,23109,11.328806
...,...,...,...,...,...,...
495,9.901731,7.162124,58.095069,0.145065,395762,12.901909
496,3.574132,7.118835,62.928159,0.469670,435926,39.926551
497,9.186049,4.580781,412.102112,0.108195,299594,12.178203
498,8.278256,8.353756,268.121561,0.132661,361911,13.905809
499,0.860820,8.014988,62.292486,0.304896,364601,46.151972

In [17]:
y_train

0      transport
1      transport
2      transport
3        fighter
4        fighter
         ...
495      fighter
496    transport
497      fighter
498      fighter
499    transport
Name: class_ship, Length: 500, dtype: object

In [19]:
clf = RandomForestClassifier(random_state=0)

In [18]:
parametrs = {'n_estimators': list(range(1, 52, 5)), 
             'max_depth': list(range(1, 19, 2)),
             'min_samples_leaf': list(range(1, 11, 1)),
             'min_samples_split': list(range(1, 11, 1))}

In [20]:
best_clf=GridSearchCV(clf, parametrs, cv=3, n_jobs=-1, verbose=1)

In [21]:
best_clf.fit(X_train, y_train)

Fitting 3 folds for each of 9900 candidates, totalling 29700 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  44 tasks      | elapsed:    9.8s
[Parallel(n_jobs=-1)]: Done 624 tasks      | elapsed:   26.7s
[Parallel(n_jobs=-1)]: Done 1624 tasks      | elapsed:   53.1s
[Parallel(n_jobs=-1)]: Done 3024 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 4824 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 7024 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done 9624 tasks      | elapsed:  4.4min
[Parallel(n_jobs=-1)]: Done 12624 tasks      | elapsed:  5.7min
[Parallel(n_jobs=-1)]: Done 16024 tasks      | elapsed:  7.2min
[Parallel(n_jobs=-1)]: Done 19824 tasks      | elapsed:  8.9min
[Parallel(n_jobs=-1)]: Done 24024 tasks      | elapsed: 10.8min
[Parallel(n_jobs=-1)]: Done 28624 tasks      | elapsed: 12.9min
[Parallel(n_jobs=-1)]: Done 29693 out of 29700 | elapsed: 13.4min remaining:    0.1s
[Parallel(n_jobs=-1)]: Done 29700 out of 29700 | elapsed: 13.4min finished

GridSearchCV(cv=3, estimator=RandomForestClassifier(random_state=0), n_jobs=-1,
             param_grid={'max_depth': [1, 3, 5, 7, 9, 11, 13, 15, 17],
                         'min_samples_leaf': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                         'min_samples_split': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                         'n_estimators': [1, 6, 11, 16, 21, 26, 31, 36, 41, 46,
                                          51]},
             verbose=1)

In [22]:
best_clf.best_params_

{'max_depth': 3,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'n_estimators': 6}

In [23]:
new_clf = RandomForestClassifier(random_state=0, n_estimators = 6, max_depth = 3, min_samples_leaf = 1, min_samples_split = 2)

In [24]:
new_clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=3, n_estimators=6, random_state=0)

In [25]:
op_info = pd.read_csv('C:/Users/9/Downloads/operative_information.csv')

In [26]:
op_info.head(10)

,g_reflection,i_reflection,speed,brightness,time_of_observance,volume
0,7.516543,3.916691,513.954279,0.177247,105908,13.267224
1,4.322988,6.967689,63.752970,0.545922,277855,39.833130
2,4.595724,9.098297,62.233948,0.389201,160662,42.014556
3,2.689675,7.964869,62.475495,0.541081,162092,42.056829
4,8.075576,5.169719,336.441261,0.174757,466853,11.779813
5,2.638921,8.926319,62.047296,0.389536,189821,43.193563
6,12.367688,4.344552,538.597036,0.141687,204134,10.184466
7,6.710548,5.904393,113.728644,0.149395,342038,11.364132
8,6.349282,4.755377,287.940258,0.151832,97340,14.432380
9,15.134084,9.004721,76.572524,0.556262,331855,494.057256

In [27]:
op_info.isnull().sum()

g_reflection          0
i_reflection          0
speed                 0
brightness            0
time_of_observance    0
volume                0
dtype: int64

In [28]:
y_pred = new_clf.predict(op_info)

In [29]:
s = pd.Series(y_pred)
s.groupby(s).count()

cruiser      230
fighter      675
transport    595
dtype: int64

In [30]:
fi = new_clf.feature_importances_

In [34]:
fi_df = pd.DataFrame({'features': list(X_train),
                     'feature_importances': fi})

In [35]:
fi_df.sort_values('feature_importances', ascending=False)

             features  feature_importances
3          brightness             0.495920
1        i_reflection             0.158932
5              volume             0.133868
2               speed             0.107925
0        g_reflection             0.103355
4  time_of_observance             0.000000

In [36]:
space = pd.read_csv('C:/Users/9/Downloads/space_can_be_a_dangerous_place.csv')

In [37]:
space.head(10)

,r,phi,peradventure_index,dustiness,black_hole_is_near,buggers_were_noticed,nearby_system_has_planemo,dangerous
0,169.1,138.0,22.3212,0.706285,0,1,1,1
1,11.1,148.0,1.4652,-0.410512,1,1,1,1
2,274.6,201.0,36.2472,0.756457,1,1,1,1
3,172.8,173.0,22.8096,0.035221,1,1,1,1
4,223.3,222.0,29.4756,0.197271,0,1,1,1
5,206.6,13.0,27.2712,-0.233592,0,1,1,1
6,293.0,263.0,38.6760,-0.870781,0,1,1,1
7,83.1,205.0,10.9692,0.925809,0,1,1,1
8,53.0,305.0,6.9960,0.327122,0,1,1,1
9,35.1,189.0,4.6332,-0.726962,0,1,1,1

In [38]:
space.describe()

,r,phi,peradventure_index,dustiness,black_hole_is_near,buggers_were_noticed,nearby_system_has_planemo,dangerous
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000
mean,172.575669,179.794570,22.779988,-0.000431,0.109990,0.929990,0.99035,0.902020
std,99.394833,103.914551,13.120118,0.997952,0.312879,0.255165,0.09776,0.297289
min,0.000000,0.000000,0.000000,-4.418405,0.000000,0.000000,0.00000,0.000000
25%,86.775000,90.000000,11.454300,-0.677894,0.000000,1.000000,1.00000,1.000000
50%,172.600000,180.000000,22.783200,-0.001029,0.000000,1.000000,1.00000,1.000000
75%,258.500000,270.000000,34.122000,0.673115,0.000000,1.000000,1.00000,1.000000
max,344.900000,359.000000,45.526800,4.205237,1.000000,1.000000,1.00000,1.000000

In [39]:
space.groupby('buggers_were_noticed').agg({'dangerous':'mean'})

                      dangerous
buggers_were_noticed
0                      0.528782
1                      0.930118

In [40]:
space.corr()

,r,phi,peradventure_index,dustiness,black_hole_is_near,buggers_were_noticed,nearby_system_has_planemo,dangerous
r,1.000000,0.001023,1.000000,-0.003336,0.002337,0.001797,0.000326,0.005788
phi,0.001023,1.000000,0.001023,0.001921,0.002875,-0.004726,-0.000803,0.003035
peradventure_index,1.000000,0.001023,1.000000,-0.003336,0.002337,0.001797,0.000326,0.005788
dustiness,-0.003336,0.001921,-0.003336,1.000000,-0.004691,-0.001290,0.003370,-0.000499
black_hole_is_near,0.002337,0.002875,0.002337,-0.004691,1.000000,-0.001874,0.002661,0.052968
buggers_were_noticed,0.001797,-0.004726,0.001797,-0.001290,-0.001874,1.000000,-0.003031,0.344469
nearby_system_has_planemo,0.000326,-0.000803,0.000326,0.003370,0.002661,-0.003031,1.000000,0.299508
dangerous,0.005788,0.003035,0.005788,-0.000499,0.052968,0.344469,0.299508,1.000000